[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
xmltodict = "*"
pandas = "*"
selenium = "*"
requests-html = "*"
bs4 = "*"
pandas-read-xml = "*"

[dev-packages]

[requires]
python_version = "3.8"
